<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">

    <!-- AOS Library CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="css/all.css">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/etkinlikler.css">


    <title>Karabük Üniversitesi IEEE Student Branch</title>
  </head>
  <body>
   
    <!-- NAVIGATION -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-6">
      <div class="container">
          <a class="navbar-brand" href="index.html"><img src="img/logo.png" class="logo-size"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="index.html">Anasayfa</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="hakkimizda.html">Hakkımızda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="yazilar.html">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="takim.html">Takım</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="etkinlikler.html">Etkinlikler</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="iletisim.html">İletişim</a>
                </li>
              </ul>
          </div>
      </div>
    </nav>

    <!-- EVENTS HEADER SECTION -->
    <section id="events-header-section" class="py-5 global-section other-gray-section m220-changed">
        <div class="container">
            <div class="row text-center">
            <div class="col-12">
                <h2 class="events-title pt-3 c-blue">Etkinlik Çizelgemiz</h2>
            </div>
            <div class="col-12">
                <img src="img/EtkinliklerGorsel.png" class="img-fluid manuel-position">
            </div>
            </div>
        </div>
    </section>

    <!-- EVENTS CONTENT SECTION -->
    <section id="events-content-section" class="py-5">
        <div class="container">
            <div class="row text-center">
            <div class="col-12 px-10">
                <p class="font-400w-30px mb-5" data-aos="zoom-in">
                Kulübümüz bünyesinde mühendislik ve iş hayatına yönelik eğitimler, seminerler ve çok daha
                fazla içeriği sizler için hazırladığımız çizelgeden takip edebilirsiniz.
                </p>
            </div>
            <div class="col-12">
                <hr class="gray-line mt-4" data-aos="zoom-in">
            </div>
            </div>
        </div>
    </section>

    <!-- EVENTS TIMELINE SECTION -->
    <div id="events-timeline-section" class="pt-2 pb-5">
        <div class="container">
            <ul class="timeline">
                <li class="timeline-inverted" data-aos="zoom-in">
                    <div class="timeline-badge">
                        <img src="img/meeting.png" alt="">
                    </div>
                    <div class="timeline-panel" id="timeline-panel">
                      <div class="timeline-heading">
                        <h4 class="timeline-title">Tanışma ve IEEE Nedir, Ne Amaçlar ?</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>22.02.2021</small></p>
                      </div>
                      <div class="timeline-body">
                        <p>Yeni açılan IEEE Karabük Öğrenci Kolu olarak 
                          arkadaşlarımıza kulübün amacına yönelik sunum yaptık</p>
                      </div>
                    </div>
                </li>
                <li class="timeline-inverted" data-aos="zoom-in">
                  <div class="timeline-badge">
                    <img src="img/excel.png" alt="">
                  </div>
                  <div class="timeline-panel" id="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">CV Hazırlama Sunumu, Etkili CV Nasıl Olmalı ?</h4>
                      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>22.02.2021</small></p>
                    </div>
                    <div class="timeline-body">
                      <p>Kulübümüz üyelerinden Görkem Soysal Temel Excel Dersi Canlı Yayınında Excelin temelini
                          bizler için anlatacak.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted" data-aos="zoom-in">
                    <div class="timeline-badge">
                        <img src="img/python.png" alt="">
                    </div>
                    <div class="timeline-panel" id="timeline-panel">
                      <div class="timeline-heading">
                        <h4 class="timeline-title">Python Eğitim Haftası #1 Temel Programlama ve Kontrol İfadeleri</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>22.02.2021</small></p>
                      </div>
                      <div class="timeline-body">
                        <p>Kulübümüz üyelerinden Umut Topkaya, Python Dersleri serisinde ilk hafta Python'ın Temelleri isimli canlı yayında Python anlattı.</p>
                      </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <!-- FOOTER SECTION -->
    <footer class="mt-4 py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
              <h5>HIZLI MENÜ</h5>
              <ul class="quick-menu">
                <li><a href="#">Anasayfa</a></li>
                <li><a href="#">Hakkımızda</a></li>
                <li><a href="#">Yazılar</a></li>
                <li><a href="#">Takım</a></li>
                <li><a href="#">Etkinlikler</a></li>
                <li><a href="#">İletişim</a></li>
              </ul>
          </div>
          <div class="col-md-4">
            <h5>BİZE ULAŞIN</h5>
            <p><i class="fas fa-map-marker-alt"></i>Kılavuzlar Köyü Öte Karşı Üniversite Kampüsü Merkez Karabük</p>
            <p><a href="#"><i class="fas fa-envelope"></i>ieeekarabukuni@gmail.com</a></p>
            <p><a href="#"><i class="fab fa-telegram-plane"></i>t.me/ieeekbu</a></p>
          </div>
          <div class="col-md-4">
            <h5>IEEE - KBU Abone Ol</h5>
            <div class="input-group mb-4">
              <input type="text" class="form-control" placeholder="ornek@gmail.com" aria-label="Recipient's username" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-location-arrow"></i></button>
              </div>
            </div>
            <ul class="social-media text-center">
              <li>
                <a href="#"><div class="circle"><i class="fab fa-facebook-f"></i></div></a>
              </li>
              <li>
                <a href="#"><div class="circle"><i class="fab fa-twitter"></i></div></a>
              </li>
              <li>
                <a href="#"><div class="circle"><i class="fab fa-instagram"></i></div></a>
              </li>
              <li>
                <a href="#"><div class="circle"><i class="fab fa-youtube"></i></div></a>
              </li>
              <li>
                <a href="#"><div class="circle"><i class="fab fa-linkedin-in"></i></div></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- COPYRIGHT -->
    <div class="copyright py-3">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h6>Copyright &copy; IEEE | KBU Student Branch 2020</h6>
          </div>
        </div>
      </div>
    </div>

    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>

    <!-- JS Sources -->
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>

    <script>
      //Get the button
      var mybutton = document.getElementById("myBtn");
      
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};
      
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
      
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
  </body>
</html>