<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">

    <!-- AOS Library CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="css/all.css">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">


    <title>Karabük Üniversitesi IEEE Student Branch</title>
  </head>
  <body>
   
    <!-- NAVIGATION -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-6">
      <div class="container">
          <a class="navbar-brand" href="index.html"><img src="img/logo.png" class="logo-size"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="index.html">Anasayfa</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="hakkimizda.html">Hakkımızda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="yazilar.html">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="takim.html">Takım</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="etkinlikler.html">Etkinlikler</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="iletisim.html">İletişim</a>
                </li>
              </ul>
          </div>
      </div>
    </nav>

    <!-- HEADER SECTION -->
    <header id="header-section" class="mb-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 order-2 order-md-1 pt-5">
              <h1 class="mb-1 header-title c-blue">IEEE<br>
                <span class="text-1"></span><br>
                <span class="text-2"></span>
              </h1>
              <h2 class="mb-2 outline-text-blue c-white"><span class="text-3"></span></h2>
              <p class="mb-5 header-text">Büyük kulüp olmanın sorumluluğunda bu yolculuğumuzda siz değerli arkadaşlarımızı aramızda görmekten çok mutlu oluruz !</p>
              <div class="button-box">
                <a href="#" class="btn-radius-design">Bizi Takip Edin</a>
              </div>
            </div>
            <div class="col-md-6 order-1 order-md-2">
              <img src="img/AnasayfaGorsel1.png" class="animated-up-down img-fluid">
            </div>
          </div>
        </div>
    </header>

    <!-- CONTENT SECTION -->
    <section class="content-section py-6">
      <div class="container">
        <div class="row">
          <div class="col-12 text-right mb-3">
            <h2 class="content-title" data-aos="zoom-in">IEEE Nedir ?</h2>
          </div>
          <div class="col-md-6 img-center">
            <img src="img/AnasayfaGorsel2.jpg" class="img-fluid rounded-circle" data-aos="zoom-in">
          </div>
          <div class="col-md-6">
            <p class="text-right mt-4" data-aos="zoom-in">
              IEEE, Institute of Electrical and Electronics Engineers, temellerini 1884 yılında Alexander Graham Bell ve Thomas Edison’un attığı; 
              teknolojiyi insanlığın yararına geliştirmeyi amaçlayan, bu doğrultuda bir ekosistem ve organizasyon yaratıp aktif çalışmalar yürüten;
               mühendis, bilim insanı ve öğrencilerin oluşturduğu dünyanın en geniş profesyonel teknik topluluğudur.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- CONTENT SECTION -->
    <section class="content-section pt-2 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 order-2 order-md-1">
            <p class="mt-4 text-left" data-aos="zoom-in">
              IEEE, üyelerinin hayat boyu süren öğrenim sürecinde onlara mesleki açıdan çok önemli yardımlarda bulunur. Ulusal ve uluslararası konferanslar,
               seminerler, kariyer geliştirme ve network üzerine mesleki toplantılar düzenler. Gönüllü aktivitelerle liderlik ve diğer kişisel becerileri
                geliştirme fırsatı sunar. 300’den fazla sürekli-eğitim ve geliştirme programı üyelerin hizmetindedir. Kariyer yönetimi ekipmanları ve kaynak
                 materyaller erişime açıktır. Finansal servisler ve portatif yarar programlarına sahiptir.
            </p>
          </div>
          <div class="col-md-6 order-1 order-md-2 img-center">
            <img src="img/AnasayfaGorsel3.jpg" class="img-fluid rounded-circle f-none" style="float:right;" data-aos="zoom-in">
          </div>
        </div>
      </div>
    </section>

    <!-- ARTICLES SECTION -->
    <section id="articles-section" class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-4">
            <h2 class="content-title" data-aos="zoom-in">Başlıca Bloglarımız</h2>
          </div>
          <div class="col-md-4">
            <a href="yazi-icerik.html" class="card-hover">
              <div class="card mb-4" data-aos="zoom-in">
                <div class="card-top">
                  <img src="img/MakaleGorsel.png" class="card-img-top">
                </div>
                <div class="card-body">
                  <p class="date">22.02.2021</p>
                  <h3 href="#" class="article-content mb-2">DAHA İYİSİ İÇİN TURKSAT 5A</h3>
                  <h5 class="editor"><span>Umut Topkaya</span> yazdı</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="yazi-icerik.html" class="card-hover">
              <div class="card mb-4" data-aos="zoom-in">
                <div class="card-top">
                  <img src="img/MakaleGorsel.png" class="card-img-top">
                </div>
                <div class="card-body">
                  <p class="date">22.02.2021</p>
                  <h3 href="#" class="article-content mb-2">DAHA İYİSİ İÇİN TURKSAT 5A</h3>
                  <h5 class="editor"><span>Umut Topkaya</span> yazdı</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="yazi-icerik.html" class="card-hover">
              <div class="card mb-4" data-aos="zoom-in">
                <div class="card-top">
                  <img src="img/MakaleGorsel.png" class="card-img-top">
                </div>
                <div class="card-body">
                  <p class="date">22.02.2021</p>
                  <h3 href="#" class="article-content mb-2">DAHA İYİSİ İÇİN TURKSAT 5A</h3>
                  <h5 class="editor"><span>Umut Topkaya</span> yazdı</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-12 mt-4 text-center">
            <a href="#" class="btn-radius-design" data-aos="zoom-in">Daha Fazla Görüntüle</a>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER SECTION -->
    <footer class="mt-4 py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
              <h5>HIZLI MENÜ</h5>
              <ul class="quick-menu">
                <li><a href="#">Anasayfa</a></li>
                <li><a href="#">Hakkımızda</a></li>
                <li><a href="#">Yazılar</a></li>
                <li><a href="#">Takım</a></li>
                <li><a href="#">Etkinlikler</a></li>
                <li><a href="#">İletişim</a></li>
              </ul>
          </div>
          <div class="col-md-4">
            <h5>BİZE ULAŞIN</h5>
            <p><i class="fas fa-map-marker-alt"></i>Kılavuzlar Köyü Öte Karşı Üniversite Kampüsü Merkez Karabük</p>
            <p><a href="#"><i class="fas fa-envelope"></i>ieeekarabukuni@gmail.com</a></p>
            <p><a href="#"><i class="fab fa-telegram-plane"></i>t.me/ieeekbu</a></p>
          </div>
          <div class="col-md-4">
            <h5>IEEE - KBU Abone Ol</h5>
            <div class="input-group mb-4">
              <input type="text" class="form-control" placeholder="ornek@gmail.com" aria-label="Recipient's username" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-location-arrow"></i></button>
              </div>
            </div>
            <ul class="social-media text-center">
              <li>
                <a href="#"><div class="circle"><i class="fab fa-facebook-f"></i></div></a>
              </li>
              <li>
                <a href="#"><div class="circle"><i class="fab fa-twitter"></i></div></a>
              </li>
              <li>
                <a href="#"><div class="circle"><i class="fab fa-instagram"></i></div></a>
              </li>
              <li>
                <a href="#"><div class="circle"><i class="fab fa-youtube"></i></div></a>
              </li>
              <li>
                <a href="#"><div class="circle"><i class="fab fa-linkedin-in"></i></div></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- COPYRIGHT -->
    <div class="copyright py-3">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h6>Copyright &copy; IEEE | KBU Student Branch 2020</h6>
          </div>
        </div>
      </div>
    </div>

    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>

    <!-- JS Sources -->
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>

    <script>
      //Get the button
      var mybutton = document.getElementById("myBtn");
      
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};
      
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
      
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
  </body>
</html>