<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">

    <!-- AOS Library CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="css/all.css">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/yazar2.css">


    <title>Karabük Üniversitesi IEEE Student Branch</title>
  </head>
  <body>
   
    <!-- NAVIGATION -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-6">
      <div class="container">
          <a class="navbar-brand" href="index.html"><img src="img/logo.png" class="logo-size"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="index.html">Anasayfa</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="hakkimizda.html">Hakkımızda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="yazilar.html">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="takim.html">Takım</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="etkinlikler.html">Etkinlikler</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="iletisim.html">İletişim</a>
                </li>
              </ul>
          </div>
      </div>
    </nav>

    <!-- AUTHOR HEADER SECTION -->
    <section id="author-header-section" class="py-5 author-section m230-changed image-section">
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <h2 class="author-title pt-3 c-white">UMUT TOPKAYA</h2>
            <h5 class="author-chapter-title c-white">Endüstri Mühendisliği</h5>
          </div>
          <div class="col-12">
            <img src="img/Kullanici2.jpg" class="img-fluid author-position rounded-circle">
          </div>
        </div>
      </div>
    </section>

    <!-- AUTHOR DETAIL SECTION -->
    <section id="author-detail-section" class="py-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 mb-6">
                    <ul class="author-social-medias" data-aos="zoom-in">
                        <li><a href="#" class="author-social-media"><i class="fab fa-linkedin font-2-5em"></i></a></li>
                        <li><a href="#" class="author-social-media"><i class="fab fa-twitter-square font-2-5em"></i></a></li>
                        <li><a href="#" class="author-social-media"><i class="fab fa-instagram font-2-5em"></i></a></li>
                    </ul>
                </div>
                <div class="col-12 mt-6">
                    <div class="author-jumbotron" data-aos="zoom-in">
                        <div class="author-jumbotron-header">
                            <img src="img/DurbunluAdam.png" class="img-fluid">
                        </div>
                        <div class="author-jumbotron-body">
                            <p class="author-detail-content">
                                Merhabalar! Ben Umut. Karabük Üniversitesi'nde Endüstri Mühendisliği 2.sınıf
                                öğrencisiyim. Ortaokul öğretmenimin vasıtasıyla yazılıma olan ilgi ve merakım
                                o yıldan itibaren devam etmekte. Lise son sınıfta İspanya - Sevilla'da Güneş
                                Enerjisi Sistemleri üzerinde staj deneyimim oldu. Lisede çeşitli Arduino
                                destekli robotik projeler geliştirdim. Python, React, Java teknolojileri ile
                                çeşitli ve basit düzeyde uygulamalar geliştirdim. Geliştirdiğim uygulamaları
                                Github profilimde paylaşmaktayım. Günümüz dünyasının gereksinimi olan yapay
                                zeka & veri bilimi alanında ilerleme katetmek için Python düzeyimi
                                geliştiriyorum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- AUTHOR ARTICLES SECTION -->
    <section id="articles-section" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <h2 class="content-title text-center" data-aos="zoom-in">YAYINA ALDIĞIM MAKALELERİM</h2>
                </div>
                <div class="col-12 mt-5">
                    <div class="not-articles-container text-center" data-aos="zoom-in">
                        <div class="not-articles-jumbotron">
                            <div class="not-articles-header">
                                <img src="img/Mutsuz.png" class="img-fluid">
                            </div>
                            <div class="not-articles-body">
                                <p class="not-articles-content">
                                    Burayı boş gördüğün için üzgünüm dostum :/ Ama en kısa zamanda müthiş
                                    içerikler paylaşacağım :)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER SECTION -->
    <footer class="mt-4 py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
              <h5>HIZLI MENÜ</h5>
              <ul class="quick-menu">
                <li><a href="#">Anasayfa</a></li>
                <li><a href="#">Hakkımızda</a></li>
                <li><a href="#">Yazılar</a></li>
                <li><a href="#">Takım</a></li>
                <li><a href="#">Etkinlikler</a></li>
                <li><a href="#">İletişim</a></li>
              </ul>
          </div>
          <div class="col-md-4">
            <h5>BİZE ULAŞIN</h5>
            <p><i class="fas fa-map-marker-alt"></i>Kılavuzlar Köyü Öte Karşı Üniversite Kampüsü Merkez Karabük</p>
            <p><a href="#"><i class="fas fa-envelope"></i>ieeekarabukuni@gmail.com</a></p>
            <p><a href="#"><i class="fab fa-telegram-plane"></i>t.me/ieeekbu</a></p>
          </div>
          <div class="col-md-4">
            <h5>IEEE - KBU Abone Ol</h5>
            <div class="input-group mb-4">
              <input type="text" class="form-control" placeholder="ornek@gmail.com" aria-label="Recipient's username" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-location-arrow"></i></button>
              </div>
            </div>
            <ul class="social-media text-center">
              <li>
                <a href="#"><div class="circle"><i class="fab fa-facebook-f"></i></div></a>
              </li>
              <li>
                <a href="#"><div class="circle"><i class="fab fa-twitter"></i></div></a>
              </li>
              <li>
                <a href="#"><div class="circle"><i class="fab fa-instagram"></i></div></a>
              </li>
              <li>
                <a href="#"><div class="circle"><i class="fab fa-youtube"></i></div></a>
              </li>
              <li>
                <a href="#"><div class="circle"><i class="fab fa-linkedin-in"></i></div></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- COPYRIGHT -->
    <div class="copyright py-3">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h6>Copyright &copy; IEEE | KBU Student Branch 2020</h6>
          </div>
        </div>
      </div>
    </div>

    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>

    <!-- JS Sources -->
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>

    <script>
      //Get the button
      var mybutton = document.getElementById("myBtn");
      
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};
      
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
      
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
  </body>
</html>