<div class="sidebar">
    <ul class="widget widget-menu unstyled">
        <li class="active"><a href="/admin/index"><i class="menu-icon icon-dashboard"></i>Anasayfa
        </a></li>
    </ul>

    <ul class="widget widget-menu unstyled">
        <li><a class="collapsed" data-toggle="collapse" href="#togglePagesMember"><i class="menu-icon icon-cog">
        </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
        </i>Kullanıcılar</a>
            <ul id="togglePagesMember" class="collapse unstyled">
                <li><a href="/admin/add-member"><i class="icon-inbox"></i>Üye Ekle </a></li>
                <li><a href="/admin/members"><i class="icon-inbox"></i>Üye Güncelle </a></li>
            </ul>
        </li>
    </ul>

    <ul class="widget widget-menu unstyled">
        <li><a class="collapsed" data-toggle="collapse" href="#togglePagesBlog"><i class="menu-icon icon-cog">
        </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
        </i>Blog</a>
            <ul id="togglePagesBlog" class="collapse unstyled">
                <li><a href="/admin/add-blog"><i class="icon-inbox"></i>Makale Ekle </a></li>
                <li><a href="/admin/blogs"><i class="icon-inbox"></i>Makale Güncelle </a></li>
            </ul>
        </li>
    </ul>

    <ul class="widget widget-menu unstyled">
        <li><a class="collapsed" data-toggle="collapse" href="#togglePagesActivity"><i class="menu-icon icon-cog">
        </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
        </i>Etkinlik</a>
            <ul id="togglePagesActivity" class="collapse unstyled">
                <li><a href="/admin/add-activity"><i class="icon-inbox"></i>Etkinlik Ekle </a></li>
                <li><a href="/admin/activities"><i class="icon-inbox"></i>Etkinlik Güncelle </a></li>
            </ul>
        </li>
    </ul>
    <!--/.widget-nav-->
    <ul class="widget widget-menu unstyled">
        <li><a href="/admin/subscribes"><i class="menu-icon icon-user"></i>Aboneler </a></li>
        <li><a href="/admin/messages"><i class="menu-icon icon-envelope"></i>Mesajlar </a></li>
        <li><a href="#"><i class="menu-icon icon-signout"></i>Güvenli Çıkış</a></li>
    </ul>
</div>
<!--/.sidebar-->