<div class="content">
    <div class="btn-controls">
        <div class="btn-box-row row-fluid">
            <div href="#" class="btn-box big span4"><i class="fas fa-blog"></i><b>45</b>
                <p class="text-muted">Makale</p>
            </div>
            <div href="#" class="btn-box big span4"><i class="icon-user"></i><b>15</b>
                <p class="text-muted">Ekip Arkadaşı</p>
            </div>
            <div href="#" class="btn-box big span4"><i class="fas fa-heart"></i><b>21</b>
                <p class="text-muted">Etkinlik</p>
            </div>
        </div>

        <h2>Hızlı Link</h2>
        <div class="btn-box-row row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span12">
                        <a href="/admin/messages" class="btn-box small span4"><i class="icon-envelope"></i><b>Mesajlar</b></a>
                        <a href="/admin/add-member" class="btn-box small span4"><i class="fas fa-user-plus"></i><b>Üye Ekle</b></a>
                        <a href="/admin/members" class="btn-box small span4"><i class="icon-group"></i><b>Üyeler</b></a>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <a href="/admin/add-blog" class="btn-box small span3"><i class="fas fa-plus-circle"></i><b>Makale Ekle</b></a>
                        <a href="/admin/blogs" class="btn-box small span3"><i class="fas fa-align-left"></i><b>Makaleler</b></a>
                        <a href="/admin/add-activity" class="btn-box small span3"><i class="fas fa-bullhorn"></i><b>Etkinlik Ekle</b></a>
                        <a href="/admin/activities" class="btn-box small span3"><i class="fas fa-heart"></i><b>Etkinlikler</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/#btn-controls-->

    <!--/.module-->