/* articles section css start */

.articles-title {
    font-weight: 900;
    font-size: 1.9em;
    line-height: 55px;
}

.search_box{
    position: relative;
    width: 70%;
}
  
.search_box input[type="text"]{
    width: 100%;
    padding: 1rem;
    padding-right: 4rem;
    background: #F0F0F0;
    border: 2px solid #fff;
    border-radius: 10px;
    outline: none;
    border-radius: 30px;
}
  
.fa-search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    color: #D0D0D0;
    font-size: 1.2em;
}

/* articles section css end */

.pagination {
    border-radius: 0 !important;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #7A7A7A;
    font-weight: 800;
    font-size: 1.5em !important;
}

.page-link:hover {
    color: #7A7A7A;
}

.page-item.active .page-link {
    z-index: 3;
    color: #000000;
} 

@media screen and (max-width: 768px) {
    .articles-title {
        text-align: center !important;
    }

    .search_box {
        float: none !important;
        width: 100%;
    }
}