<!-- ABOUT HEADER SECTION -->
<section id="about-header-section">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <div class="center-text">
                    <h2 class="header-title c-white">IEEE STUDENT BRANCH</h2>
                    <h3 class="about-outline-text header-title c-black">Karabuk University</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABOUT CONTENT SECTION -->
<section id="about-content-section" class="py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <img src="/site/img/HakkimizdaIcerikGorsel.png" class="img-fluid" data-aos="zoom-in">
            </div>
            <div class="col-12 px-10">
                <p class="font-400w-30px mb-5" data-aos="zoom-in">
                    Kulübümüz bünyesinde mühendislik ve iş hayatına yönelik eğitimler, seminerler ve çok
                    daha fazla içeriği sizler ile buluşturacağız.
                </p>
            </div>
            <div class="col-12">
                <hr class="gray-line mt-4" data-aos="zoom-in">
            </div>
        </div>
    </div>
</section>

<!-- STATISTIC SECTION -->
<div id="statistics-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="statistics-card text-center" data-aos="zoom-in">
                    <div class="statistics-card-head">
                        <img src="/site/img/Mutlu.png" class="img-fluid">
                    </div>
                    <div class="statistics-card-body pb-3">
                        <h4 class="statistics-title"><span class="counter">300</span>+</h4>
                        <p class="statistics-text">Daha da artan birbirinden değerli kulüp üyemiz</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="statistics-card text-center margin-top" data-aos="zoom-in">
                    <div class="statistics-card-head">
                        <img src="/site/img/Mezun.png" class="img-fluid">
                    </div>
                    <div class="statistics-card-body pb-3">
                        <h4 class="statistics-title"><span class="counter">15</span>+</h4>
                        <p class="statistics-text">Ekip arkadaşımız ile güncel makaleler, eğitimler ve birçok etkinlik</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="statistics-card text-center" data-aos="zoom-in">
                    <div class="statistics-card-head">
                        <img src="/site/img/Belge.png" class="img-fluid">
                    </div>
                    <div class="statistics-card-body pb-3">
                        <h4 class="statistics-title"><span class="counter">106</span></h4>
                        <p class="statistics-text">Öğrenci kolu ile Türkiye’nin en büyük ailesiyiz</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SOCIAL MEDIA SECTION -->
<div id="social-medias" class="py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h3 class="social-media-title c-blue mb-5" data-aos="zoom-in">Sosyal Medyada Biz</h3>
            </div>
            <div class="col-sm-6 col-md-2 mb-4">
                <a href="#">
                    <div class="social-media-circle facebook-color" data-aos="zoom-in">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-2 mb-4">
                <a href="#">
                    <div class="social-media-circle twitter-color" data-aos="zoom-in">
                        <i class="fab fa-twitter"></i>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-2 mb-4">
                <a href="#">
                    <div class="social-media-circle instagram-color" data-aos="zoom-in">
                        <i class="fab fa-instagram"></i>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-2 mb-4">
                <a href="#">
                    <div class="social-media-circle telegram-color" data-aos="zoom-in">
                        <i class="fab fa-telegram-plane"></i>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-2 mb-4">
                <a href="#">
                    <div class="social-media-circle linked-color" data-aos="zoom-in">
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-2 mb-4">
                <a href="#">
                    <div class="social-media-circle youtube-color" data-aos="zoom-in">
                        <i class="fab fa-youtube"></i>
                    </div>
                </a>
            </div>
            <div class="col-12 mt-3">
                <p class="social-media-text px-10" data-aos="zoom-in">Etkinlikler, eğitimler, seminer ve diğer birçok şey hakkında anında haberdar
                    olmak için sosyal medya hesaplarımızı takip edin</p>
            </div>
        </div>
    </div>
</div>